<a href="https://colab.research.google.com/github/Manish-2708/pyt_man/blob/main/Assignment_03_Q2_(Hypothesis_Testing).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#IMPORT THE LIBRARIES

In [ ]:
import pandas as pd
import scipy
import numpy as np
from scipy import stats

In [ ]:
#Load DATASET
data=pd.read_csv("/content/LabTAT.csv")
data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [ ]:
#Using  Anova ftest statistics i.e stats.f_oneway(column-1,column-2,column-3,column-4)
p_value=stats.f_oneway(data.iloc[:,0],data.iloc[:,1],data.iloc[:,2],data.iloc[:,3])
p_value

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [ ]:
p_value[1]

2.1156708949992414e-57

In [ ]:
# compare p_value with Î± = 0.05 (At 5% significance level)
alpha=0.05
print ("Two Sample T test \nP value is "+ str(p_value[1]))
if p_value[1]<=alpha:
    print("Reject H0")
else:
    print("H0 holds true")

Two Sample T test
P value is 2.1156708949992414e-57
Reject H0

In [ ]:
#since p value is more than 0.05 it hold alternate hypothesis true and reject null hypothesis