<a href="https://colab.research.google.com/github/Manish-2708/pyt_man/blob/main/Assignment_03_Q3_(Hypothesis_Testing).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
#Import libraries
import pandas as pd
import numpy as np
import scipy
from scipy import stats
from scipy.stats import chi2_contingency

In [3]:
#load dataset
data=pd.read_csv('/content/BuyerRatio.csv')
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [17]:
#Make dimensional array
exp_obs=np.array([[50,142,131,70],[435,1523,1356,750]])

In [18]:
exp_obs

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [27]:
#Chi2 contingency independence test
chi2_contingency(exp_obs) # o/p is (Chi2 stats value, p_value, df, expected obsvations)

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [ ]:
# Compare p_value with α = 0.05
#as we can see above pvalue is greater than alpha hence we will fail to reject H0 (Null hypothesis) here.