<a href="https://colab.research.google.com/github/Manish-2708/pyt_man/blob/main/Assignment_03_Q1_(Hypothesis_Testing).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#IMPORT THE LIBRARIES

In [2]:
import pandas as pd
import scipy
import numpy as np
from scipy import stats

In [4]:
#Load DATASET
data=pd.read_csv("/content/Cutlets.csv")
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [13]:
unitA=pd.Series(data.iloc[:,0])
unitA

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: Unit A, dtype: float64

In [15]:
unitB=pd.Series(data.iloc[:,1])
unitB

0     6.7703
1     7.5093
2     6.7300
3     6.7878
4     7.1522
5     6.8110
6     7.2212
7     6.6606
8     7.2402
9     7.0503
10    6.8810
11    7.4059
12    6.7652
13    6.0380
14    7.1581
15    7.0240
16    6.6672
17    7.4314
18    7.3070
19    6.7478
20    6.8889
21    7.4220
22    6.5217
23    7.1688
24    6.7594
25    6.9399
26    7.0133
27    6.9182
28    6.3346
29    7.5459
30    7.0992
31    7.1180
32    6.6965
33    6.5780
34    7.3875
Name: Unit B, dtype: float64

In [7]:
#Since two sample two tail test

In [24]:
p_value= stats.ttest_ind(unitA,unitB)
p_value

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [26]:
p_value[1]     # 2-tail probability

0.4722394724599501

In [27]:
# compare p_value with Î± = 0.05 (At 5% significance level)
alpha=0.05
print ("Two Sample T test \nP value is "+ str(p_value[1]))
if p_value[1]<=alpha:
    print("Reject H0")
else:
    print("H0 holds true")

Two Sample T test
P value is 0.4722394724599501
H0 holds true

In [28]:
# Hence it hold null hypothesis true